@model NetFlix.Models.Coustomer

<div class="row">


    <div class="col-md-5">


        <div class="card">


            <div class="card-header">
                <h2>
                    Details Of @Model.Name
                </h2>

            </div>


            <div class="card-body bg-info ">
                <h4>
                    @Model.Name
                </h4>
                <h4>
                    @Model.membersShipType.Duration
                </h4>
            </div>


        </div>


    </div>


</div>

